* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.bg-error {
  background-image: url('./images/bg.jpg');
  height: 1080px;
  width: 1920px;
}
