* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat',system-ui, sans-serif;
  color: black;
  background-color: white;
}

.error-container {
  background-image: url('./images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.error-message{
  color: #ffff;
  line-height: 16px;
  margin-top: -300px;
  padding-left: 0;
  text-align: left;
  width: 565px;
  position: relative;
  left: -60px;
}

.error-message h2,p{
  font-size: 24px;

}

@media screen and (max-width: 1024px) {
  .error-message {
    color: #ffff;
    line-height: 20px;
    margin-top: -200px;
    padding-left: 0;
    text-align: left;
    width: 565px;
  }
}

@media screen and (max-width: 768px) {
  .error-message {
    color: #ffff;
    line-height: 20px;
    margin-top: -200px;
    padding-left: 50px;
    text-align: left;
    width: 565px;
  }
}

.button-container {
  width: 565px;
  display: flex;
  position: relative;
  left: -60px;
}

@media screen and (max-width: 768px) {
  .button-container {
    width: 565px;
    display: flex;
    position: relative;
    left: -60px;
    padding-left: 50px;
  }
}


.button-rounded {
  height: 40px;
  width: 147px;
  border-radius: 24px;
  padding: 12px 16px 12px 16px;
  background-color: #ffffff;
  text-decoration: none;
  color: #1c1c1c;
  align-items: center;
  border: none;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.button-rounded img{
  padding-left: 13px;
}

.button-rounded:hover {
  background-color: #ff608b;
  color: #ffffff;
}

.button-rounded:hover > img{
  filter: brightness(0) invert(1);
}



.space {
  height: 28vh;
  position: relative;
}

@media screen and (max-width: 768px) {
  .space {
    height: 30vh;
  }
    
}

@media screen and (max-width: 1024px) {
  .space {
    width: 535px;
  }
}

@media screen and (max-width: 1440px) {
  .space {
  height: 35vh; 
  } 
}

.space img{
  position: absolute;
}

.planet-pink{
  bottom: 370px;
  left: -550px;
  width: 220px;
}

@media screen and (max-width: 1024px) {
  .planet-pink{
    right: -580px;
    top:-95px;
  }
}

@media screen and (max-width: 768px) {
  .planet-pink{
    top: -200px;
    left: -35px;
  }
}


.dinasor{
  bottom: -20px;
  left: -600px;
  width: 220px;
  z-index: 1;
}

.planet{
  bottom: -160px;
  left: -650px;
  width: 550px;
  /* box-shadow: 0 0 50px #0f0;
  inset : 0 0 50px #0f0;
  animation: xd 25s linear; */
}

@media screen and (max-width: 768px) {
  .planet{
    bottom: -230px;
    left: -320px;
    width: 550px;
  }
}

.purple-planet{
  bottom: -10px;
  max-height: 355px;
  position: relative;
  right: -450px;
  width: 255px;
  animation: animate 25s linear infinite;

}

@keyframes animate {
  
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  
  }
}



@media screen and (max-width: 768px) {
  .purple-planet{
    bottom: -110px;
    max-height: 355px;
    position: relative;
    right: -90px;
    width: 250px;
    animation: animate 25s linear infinite;
  
  }
}


.astronaut{
  bottom: 180px;
  right: -300px;
  width: 200px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .astronaut{
    bottom: 90px;
    right: -10px;
    width: 200px;
  }
}

